@model IEnumerable<MainPr.Models.Firm>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Admin" asp-action="All_Users">Users</a>
    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Firms" asp-action="Index">Firms</a>
    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Admin" asp-action="AcceptCart">Carts</a>
</p>

<h1>Firms Panel</h1>


<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirmName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirmName)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.FirmID">Edit</a>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.FirmID">Details</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.FirmID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
