@model IEnumerable<MainPr.Models.Cart>

@{
    ViewData["Title"] = "Admin Cart";
}

    <h1>Admin Cart</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CartID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusCarts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orders)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusCarts.StatusCartID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orders.ItemID)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Admin" asp-action="AcceptCart" asp-route-CartID="@item.CartID">Accepted</a>
                        <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Admin" asp-action="RejectCart" asp-route-CartID="@item.CartID">Reject</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
